.title{
    color: rgb(7, 184, 243);
    font-weight: 900;
}
.textColor{
    color: rgb(7, 184, 243);
    font-size: 18px;
}
.bg{
    background-color: rgb(7, 170, 219);
    font-size: 20px;
}