.head{
    color: rgb(7, 170, 219);
    font-weight: 800;
}
.head-title{
    background-color: rgb(7, 170,219);
    padding: 10px;
    font-size: 20px;
    color: white;
}
.bg{
    background-color: rgb(75, 223, 75);
    font-size: 18px;
    color: white;
}
